@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/*============================ Color palette 

Black: #121212
White: #fff
Light grey (for text): #a6a6a6
Dark grey (for labels): #545454
Internet Blue: #3462eb
Purple grey: #aba9bc

Font sizes:
Button: 10pt;


*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  /*--input: oklch(0.92 0.004 286.32);*/
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  /*--input: oklch(1 0 0 / 15%);*/
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*============================ Body */

body{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  background: #121212;
}

.auth{
  background-image: url("../public/bg-sign-in.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--back{
  width: 100px;
  padding: 10px;
  position: absolute;
  top: 5vh;
  left: 5vw;
  border-radius: 7px;
  background: #121212;
  color: #fff;
  font-size: 10pt;
  text-align: center;
}
/*============================ General */
h2{
  font-size: 18pt;
  font-weight: 400;
}
label{
  font-size: 10pt;
  color: #545454;
  margin-bottom: 5px;
}
sub{
  font-size: 10pt;
  margin-bottom: 5px;
}
/*============================ Variables */
.t40px{
  margin-top: 40px;
}
.t10px{
  margin-top: 10px;
}
.no-shadow{
  box-shadow: none !important;
}
/*============================ Inputs */
.in--text--big{
  font-size: 24pt;
  font-weight: bold;
  border: 0px;
  padding: 0;
  border-radius: 0;
}
.in--text--title{
  font-size: 24pt;
  font-weight: 400;
}
.in--text--narrative{
  font-size: 9pt;
  font-weight: 400;
  font-family: "Fira Code", monospace;
  border: none;
  border-radius: 0;
  min-height: 150px;
  padding: 0;
}
.in--text--link{
  font-size: 14pt;
  font-weight: 400;
  font-family: "Fira Code", monospace;
}
.in--sub{
  font-size: 8pt;
}
.in--label{
  font-size: 10pt;
  font-weight: 300;
  color: #545454;
  margin-bottom: 5px;
}
/*_______________ Radio that appears as a button to select */
.radio--hidden{
  display: none;
}
.radio--label{
  padding: 10px 20px;
  margin-right: 5px;
  border: 1px solid #545454;
  color: #545454;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.radio--hidden:checked + .radio--label{
  background: #3462eb;
  color: #fff;
  border: none;
}

/*============================ Nav */
.link--logo{
  position: absolute;
  top: 12vh;
  left: 7%;
}
.link--logo img{
  width: 200px;
  height: auto;
}
.nav--main{
  width: 100vw;
  height: 25vh;
  padding: 3vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #121212;
  color: #fff;
  display: flex;
  flex-direction: row;
}
.nav--link--wrapper{
  position: relative;
  left: 3.5%;
  display: flex;
  flex-direction: row;
}
.nav--links--col{
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  color: #a6a6a6;
}
.nav--link--selected{
  color: #fff;
  font-weight: 700;
}
.nav--user--button{
  position: relative;
  left: 0%;
}
.nav--workspace--selector--wrapper{
  margin: 0 5% 0 7.5%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.nav--workspace--selector{
  width: 200px;
  background: #121212;
  padding: 5px 10px;
  color: #aba9bc;
  cursor: pointer;
}
.nav--workspace--selector option{
  color: #5b5966;
}
.nav--workspace--selector--title{
  color:#a6a6a6;
}
.nav--workspace--selector--label{
  color: #aba9bc; /*Purpl grey: #aba9bc Purple: #9d9cd2 Dream blue: #becbff */
  font-size: 12pt;
  width: 250px;
  border: 1px solid #3462eb;
}

/*============================ Buttons */
.primaryButton{
  background: #121212;
  color: #fff;
  border-radius: 7px;
  font-size: 10pt;
  font-weight: 300;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.secondaryButton{
  background: #fff;
  color: #121212;
  border-radius: 7px;
  font-size: 10pt;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.button--main--submit{
  position: absolute;
  top: 7.5vh;
  right: 5%;
  font-size: 8pt;
}
/*============================ Main display */
.mainWindow{
  width: 95vw;
  height: 70vh;
  position: absolute;
  top: 5vh;
  left: 2.5vw;
  padding: 7.5vh 15% 0 27.5%;
  background-image: url("../public/bg-sign-in.png");
  background-size: cover;
  border-radius: 15px;
  z-index: -1;
}

.content--wrapper{
  display: flex;
  flex-direction: column;
}

/*============================ Keywords page */
.content--wrapper{
  min-height: 150px;
  width: 100%;
}
.articles--wrapper{
  min-height: 150px;
  width: 100%;
}
/*============================ meta-data page */
.image--submit--wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
