@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/*============================ Color palette 

Black: #121212
White: #fff
Light grey (for text): #a6a6a6
Dark grey (for labels): #545454
Internet Blue: #3462eb
Purple grey: #aba9bc

Font sizes:
Button: 10pt;


*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  /*--input: oklch(0.92 0.004 286.32);*/
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  /*--input: oklch(1 0 0 / 15%);*/
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*============================ Body */

body{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  background: #110420;
  background-repeat: no-repeat;
  background-size: cover;
}

.button--back{
  width: 100px;
  padding: 10px;
  position: absolute;
  top: 5vh;
  left: 5vw;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.15);
  color: #bcbcbc;
  font-size: 10pt;
  text-align: center;
}
/*============================ General */
h2{
  font-size: 18pt;
  font-weight: 400;
}
label{
  font-size: 10pt;
  color: #545454;
  margin-bottom: 5px;
}
sub{
  font-size: 10pt;
  margin-bottom: 5px;
}
/*============================ Variables */
.w100{
  width: 100%;
}
.t80px{
  margin-top: 80px;
}
.t40px{
  margin-top: 40px;
}
.t20px{
  margin-top: 20px;
}
.t10px{
  margin-top: 10px;
}
.b40px{
  margin-bottom: 40px;
}
.b15px{
  margin-bottom: 15px;
}
.l10px{
  margin-left: 10px;
}
.pb10vh{
  padding-bottom: 10vh;
}
.no-shadow{
  box-shadow: none !important;
}
/*============================ Custom */
.smallSeparator{
  height: 10pt;
  width: 1px;
  border-left: solid 1px #a6a6a6;
  margin: 0 15px;
}
.horizontalSeparator{
  height: 1pt;
  width: 100%;
  border-bottom: solid 1px #333333;
  margin: 30px 0;
}
/*============================ Inputs */
.in--text--big{
  font-size: 24pt;
  font-weight: bold;
  border: 0px;
  border-bottom: solid 1px #a6a6a6;
  padding-bottom: 5px;
  padding: 0;
  border-radius: 0;
}
.in--text--title{
  font-size: 24pt;
  font-weight: 400;
}
.in--text--narrative{
  font-size: 9pt;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  border: none;
  border-bottom: solid 1px #a6a6a6;
  min-height: 30px;
  /*background: rgba(255, 255, 255, 0.15);*/
  border-radius: 0;
  padding: 0;
  padding-bottom: 5px;
}
.in--text--link{
  font-size: 14pt;
  font-weight: 400;
  font-family: "Fira Code", monospace;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px #a6a6a6;
  padding: 0 0 5px 0;
}
.in--keyword{
  font-size: 8pt;
  margin-left: 20px;
  outline: none;
}
.in--sub{
  font-size: 8pt;
  margin-bottom: 5px;
}
.in--label{
  font-size: 10pt;
  font-weight: 300;
  color: #545454;
  margin-bottom: 5px;
}
/*_______________ Radio that appears as a button to select */
.radio--hidden{
  display: none;
}
.radio--label{
  font-size: 10pt;
  padding: 5px 20px;
  margin-right: 5px;
  border: 1px solid #545454;
  color: #545454;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.radio--hidden:checked + .radio--label{
  background: #3462eb;
  color: #fff;
  border: none;
}
.radio--hidden:checked + .plan--card{
  border: solid 2px rgb(52, 98, 235);
}
.radio--hidden:checked + #plan--pro{
  box-shadow: rgba(52, 98, 235, 0.5) 0px 13px 27px -5px, rgba(52, 98, 235, 0.3) 0px 8px 16px -8px;
}

/*============================ Nav */
.link--logo{
  position: absolute;
  top: 12vh;
  left: 7%;
  z-index: 3;
}
.link--logo img{
  width: 200px;
  height: auto;
}
.nav--main{
  width: 100vw;
  height: 25vh;
  padding: 3vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #110420;
  color: #fff;
  display: flex;
  flex-direction: row;
}
.nav--link--wrapper{
  position: relative;
  left: 3.5%;
  display: flex;
  flex-direction: row;
}
.nav--links--col{
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  color: #a6a6a6;
}
.nav--link--selected{
  color: #fff;
  font-weight: 700;
}
.nav--user--button{
  position: relative;
  left: 20%;
}
.nav--workspace--selector--wrapper{
  margin: 0 5% 0 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
}
.nav--workspace--selector{
  width: 200px;
  background: #110420;
  padding: 5px 10px;
  color: #aba9bc;
  cursor: pointer;
}
.nav--workspace--selector option{
  color: #5b5966;
}
.nav--workspace--selector--title{
  color:#a6a6a6;
}
.nav--workspace--selector--label{
  color: #aba9bc; /*Purpl grey: #aba9bc Purple: #9d9cd2 Dream blue: #becbff */
  font-size: 12pt;
  width: 250px;
  border: 1px solid #3462eb;
}
.btn--addWorkspace{
  height: 12px;
  width: 12px;
  background: #9d9cd2;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 10px;
  margin-left: 20px;
}

.nav--small{
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  border-radius: 15px;
  color: #545454;
}

.side--main{
  width: 18vw;
  height: 100vh;
  padding-left: 35px;
  padding-top: 7.5vh;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.sidenav--link--wrapper{
  display: flex;
  flex-direction: column;
}
.sidenav--links--col{
  display: flex;
  flex-direction: column;
  color: #a6a6a6;
  font-size: 11pt;
}
.sidenav--user--button{
  margin-top: 20vh;
}
.side--main .mainLogo{
  margin-bottom: 25vh;
}
.side--main .nav--link--regular {
  transition: 0.2s ease;
}
.side--main .nav--link--regular:hover {
  transform: scale(1.05);
}
/*============================ Buttons */
.primaryButton{
  font-family: "Poppins", sans-serif;
  background: #121212;
  color: #fff;
  border-radius: 7px;
  font-size: 10pt;
  font-weight: 300;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.primaryButton:disabled{
  background: #000000;
  opacity: 0.6;
}
.secondaryButton{
  font-family: "Poppins", sans-serif;
  background: #fff;
  color: #121212;
  border-radius: 7px;
  font-size: 10pt;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.blueButton{
  background: #3462eb;
  color: #fff;
  border-radius: 7px;
  font-size: 10pt;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.unselectedButton{
  background: #1e1e1e;
  color: #545454;
  border-radius: 7px;
  font-size: 10pt;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.outlineWhite{
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 10pt;
  font-weight: 300;
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
  border: solid 1px #fff;
}
.outlineBlack{
  font-family: "Poppins", sans-serif;
  color: #000;
  background: transparent;
  font-size: 10pt;
  font-weight: 300;
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
  border: solid 1px #000;
}
.smallPrimaryButton{
  font-family: "Poppins", sans-serif;
  background: #a6a6a6;
  color: #fff;
  border-radius: 20px;
  font-size: 8pt;
  font-weight: 300;
  padding: 2px 7px;
  text-align: center;
  cursor: pointer;
}
.button--main--submit{
  position: absolute;
  top: 7.5vh;
  right: 5%;
  font-size: 8pt;
}
.button--main--container{
  position: absolute;
  top: 7.5vh;
  right: 2.5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.smallColorButton{
  background: #3462eb;
  color: #fff;
  border-radius: 10px;
  font-size: 8pt;
  font-weight: 300;
  padding: 2.5px 10px;
  text-align: center;
  cursor: pointer;
}
.skipButton{
  color: #545454;
  background: none;
  font-size: 10pt;
  position: absolute;
  top: 2.5vh;
  right: 2.5%;
}
/*============================ Loaders display */
.loader--register{
  color: #fff;
  font-size: 14pt;
}

/*============================ Auth */
.auth{
  background: #110420;
  min-height: 100vh;
  padding: 0 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20;
}
.auth--left{
  width: 50%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25vh;
  border-radius: 17px;
  background-image: linear-gradient(to left top, #110420 30%, #1f1c53);
  border-top: solid 1px #333333;
  border-left: solid 1px #333333;
}
.auth--left h1{
  margin-top: 7.5vh;
  font-size: 26pt;
  line-height: 1.1;
  background: linear-gradient(to top right, #9d9cd2 0%, #f3f3f3 87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  width: 70%;

}
.auth--right{
  width: 50%;
  height: 95vh;
  border-radius: 17px;
  background: #fff;
  display: flex;
  justify-content: center;
}


/*============================ Main display */
.mainWindow{
  width: 95vw;
  height: 70vh;
  position: absolute;
  top: 5vh;
  left: 2.5vw;
  padding: 7.5vh 15% 7.5vh 27.5%;
  background-image: url("../public/bg-sign-in.png");
  background-size: cover;
  border-radius: 15px;
  z-index: -1;
  overflow-y: scroll;
}
.content--wrapper{
  display: flex;
  flex-direction: column;
}

/*============================ General page */
.general--page h1{
  font-size: 50pt;
  font-weight: 500;
  text-align: center;
  line-height: 1;
}
.general--page h2{
  font-size: 16pt;
  font-weight: 200;
  text-align: center;
  line-height: 1;
  margin-bottom: 10vh;
  color: #545454;
}

/*============================ Keywords page */
.content--wrapper{
  min-height: 150px;
  width: 100%;
}
.keywords--wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  padding-top: 2.5vh;
}
.articles--wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  padding-top: 2.5vh;
}
.keyword--unit{
  font-size: 8pt;
  padding: 3.5px 10px;
  border: solid 1px #545454;
  border-radius: 20px;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
}
.keyword--delete--btn {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #a6a6a6;
  font-size: 10pt;
  padding-left: 10px;
}
.keyword--unit:hover {
  padding-right: 15px;
  background: #121212;
  color: #fff;
}
.keyword--unit:hover .keyword--delete--btn {
  display: inline-flex;
}
.keyword--input{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.article--unit{
  font-size: 8pt;
  padding: 3.5px 10px;
  border: solid 1px #545454;
  border-radius: 20px;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
}
.article--delete--btn {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #a6a6a6;
  font-size: 10pt;
  padding-left: 10px;
}
.article--suggest--btn{
  display: none;
  cursor: pointer;
  padding-left: 10px;
}
.article--unit:hover {
  padding-right: 15px;
  background: #121212;
  color: #fff;
}
.article--unit:hover .article--delete--btn, .article--unit:hover .article--suggest--btn {
  display: inline-flex;
}

/*============================ meta-data page */
.image--submit--wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button--image--selector{
  position: relative;
  width: 150px;
  max-width: 350px;
  overflow: hidden;
  cursor: pointer;
}
.button--image--selector span{
  cursor: pointer;
}
.input--image--selector{
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.meta--result--wrapper{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 5vh;
}
.meta--result--column{
  flex: 1 1;
}
.meta--result--column p{
  font-size: 8pt;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px 0;
}
.meta--result--column sub{
  padding-left: 10px;
}
/*============================ Text previewer */

.textPreviewer p {
  margin-bottom: 10px;
  font-size: 11pt;
}
.textPreviewer h1{
  font-size: 24pt;
  margin: 20px 0 10px 0;
}
.textPreviewer h2{
  font-size: 16pt;
  margin: 20px 0 10px 0;
}
.textPreviewer h3{
  font-size: 14pt;
  margin: 20px 0 5px 0;
}
.textPreviewer section{
  margin: 50px 0;
}
.textPreviewer ul{
  padding-left: 50px;
  margin-bottom: 10px;
}
.textPreviewer li{
  list-style: circle;
  font-size: 11pt;
}
.preview--button--container{
  position: fixed;
  top: 25vh;
  left: 7%;
  width: 8.5%;
  z-index: 6;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/*================================ Landing */
.landingPage{
  background: #191919;
  min-height: 100vh;
  color: #fff;
}
#landing--header{
  background: transparent;
  width: 90%;
  padding-top: 7.5vh;
}
.landingPage h1{
  font-size: 50pt;
  font-weight: 500;
  padding: 0 15%;
  text-align: center;
  line-height: 1;
}
.landingPage h2{
  font-size: 35pt;
  font-weight: 500;
  padding: 0 15%;
  margin: 10vh 0 0 0;
  text-align: center;
  line-height: 1;
}
.landingPage h3{
  font-size: 15pt;
  font-weight: 500;
  padding: 0 15%;
  margin: 5vh 0 2.5vh 0;
  text-align: center;
  line-height: 1;
}
.landingPage .mainSub{
  font-size: 14pt;
  font-weight: 300;
  padding: 0 20%;
  margin: 5vh 0 7.5vh 0;
  text-align: center;
  line-height: 1.5;
  color: #545454;
}
#landing--bloc1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15vh;
  background-image: url("../public/bg-sign-in.png");
  background-size: cover;
}
.mainCTA{
  background: #7B62FF;
  padding: 15px;
  border-radius: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10;
  cursor: pointer;
  transition: 0.3s ease;
}
.mainCTA:hover{
  gap: 20;
}
#fonctionnalités{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  background-image: url("../public/landing_features_chart.png");
  background-size: cover;
  color: #191919;
}
#fonctionnalités h2{
  background: #478AE1;
  background: linear-gradient(to top right, #478AE1 0%, #BB58CF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.presentationContainer{
  width: 70%;
  margin-top: 17.5vh;
  padding-bottom: 10vh;
 /*background-image: linear-gradient(to bottom right, transparent 60%, rgba(190,203,255,0.2));*/
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1e1e1e;
}
#features--table{
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20;
  justify-content: center;
}
.featureCard{
  width: 30%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px, rgba(0, 0, 0, 0.15) 0px 8px 16px -8px;
  border-bottom: solid 1px #d7d7d7;
  border-right: solid 1px #d7d7d7;
  border-radius: 10px;
}
.featureCard span{
  font-weight: 600;
  font-size: 15pt;
  line-height: 1.1;
  color: #545454;
}
.featureCard p{
  font-size: 9pt;
  line-height: 1.2;
  margin-top: 5px;
  color: #545454;
}
/*================================ SEO Checkup */
.seo-analyzer-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7.5vh;
}
.seo-analyzer{
  color: #fff;
  width: 55%;
}
.text--editor, .text--editor--keywords{
  background: #191919;
  text-align: left;
  border-radius: 7px;
}
.text--editor{
  border: none;
  outline: none;
  text-align: left;
}
.text--editor--keywords{
  margin-top: 10px;
  padding: 10px 15px 10px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text--editor div{
  outline: none;
  border: none;
  padding: 10px 15px;
}
.text--editor p {
  margin-bottom: 10px;
  font-size: 10pt;
  color: #aba9bc;
}
.text--editor h1{
  font-size: 24pt;
  margin: 20px 0 10px 0;
  text-align: left;
  color:#e4e4e4;
}
.text--editor h2{
  font-size: 16pt;
  margin: 20px 0 10px 0;
  text-align: left;
  color:#e4e4e4;
}
.text--editor h3{
  font-size: 14pt;
  margin: 20px 0 5px 0;
  text-align: left;
  color:#e4e4e4;
}
.text--editor ul, .text--editor ol{
  padding-left: 35px;
  font-size: 10pt;
}
.text--editor ul li{
  list-style: disc;
}
.text--editor ol li{
  list-style: decimal;
}
.text--editor li p{
  font-size: 10pt;
  margin-bottom: 2px;
}
.text--editor a{
  text-decoration: underline;
  color: #9d9cd2;
}
.text--editor .link--button:hover{
  background: #9d9cd2;
}
.seo--analyzer--left--container{
  position: fixed;
  left: 2vw;
  top: 10vh;
}
.seo--analyzer--result{
  position: absolute;
  left: 82.5vw;
  top: 25vh;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seo--analyzer--result li{
  background: #212843;
  font-size: 8pt;
  margin: 5px 0;
  padding: 10px;
  color: #9aafee;
  border-radius: 5px;
}
.score--title{
  font-size: 10pt;
  color: #a6a6a6;
}
/*Purpl grey: #aba9bc Purple: #9d9cd2 Dream blue: #becbff */

/*================================ Choose Plan section */
.plan--section{
  /*background-image: linear-gradient(to left top, #fff 30%, #ece8fb);*/
  background-image: linear-gradient(to left top, #f3f3f3 10%, #fff 30%);
  padding: 7.5vh 0;
}

.plan--section h1{
  color: #191919;
  text-align: center;
  font-size: 18pt;
  font-weight: 500;
}
.plan--wrapper{
  width: 50%;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 25%;
  margin-top: 5vh;
  justify-content: center;
  gap: 5%;
}
.plan--card{
  padding: 40px;
  border-radius: 15px;
  border: solid 1px #d7d7d7;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.plan--card h2{
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.plan--card ul li{
  align-items: center;
  color: #191919;
}
.plan--card ul li span{
  font-size: 10pt;
}
/*_______________________ Plan pro */
#plan--pro--display{
  width: 50%;
}
#plan--pro{
  padding: 40px 40px;
  background-image: linear-gradient(to left top, #110420 30%, #1f1c53);
  color: #fff;
}
#plan--pro h2{
  font-size: 20pt;
  background: #FFFFFF;
  background: linear-gradient(to top right, #bcbcbc 0%, #fcfcfc 87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
#plan--pro ul li{
  color: #d3d3d3;
}
#plan--pro .horizontalSeparator{
  border-bottom: solid 1px #545454;
}

/*_______________________ Plan Light */
#plan--basic{
  background-image: linear-gradient(to left top, #f3f3f3 10%, #fff 30%);
  color: #000;
}
#plan--basic--display{
  width: 40%;
}
#plan--basic h2{
  font-size: 20pt;
  background: linear-gradient(to top right, #242424 0%, #a8a8a8 87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#plan--basic ul li{
  color: #545454;
}
#plan--basic .horizontalSeparator{
  border-bottom: solid 1px #d7d7d7;
}

.plan--label--wrapper{
  text-align: center;
}
.plan--label--pro{
  font-size: 8pt;
  padding: 2px 7px;
  text-align: center;
  background: #3462eb;
  color: #ffffff;
  border-radius: 10px;
}
.plan--label--basic{
  font-size: 8pt;
  padding: 2px 7px;
  text-align: center;
  background: #545454;
  color: #fff;
  border-radius: 10px;
}
.price--display{
  text-align: center;
}
.price{
  font-size: 32pt;
  font-weight: 200;
  margin-right: 10px;
}
.price--info{
  font-size: 8pt;
}
.choose--button{
  width: 200px;
  position: relative;
  left: 27%;
  margin-top: 5vh;
  background: #3462eb;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10pt;
}
/*================================ Checkout */
#checkout{
  background: #fff;
  padding: 5vh 0;
  font-family: "Poppins", sans-serif;
}
#thanks--page{
  min-height: 100vh;
  background: #fff;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#thanks--page h1{
  font-size: 30pt;
  text-align: center;
}
.payment--confirmed--label{
  color: #7B62FF;
  margin-bottom: 20px;
}
#thanks--page .mainCTA{
  margin-top: 5vh;
}